.DS_Store
.env
**/.env
**/node_modules/
**/dist/
**/__pycache__/
**/*.py[cod]
contracts/out/
contracts/cache/
contracts/out-v1/
contracts/cache-v1/
contracts/out-v2/
contracts/cache-v2/
contracts/out-v2-ci/
contracts/cache-v2-ci/
contracts/broadcast/
