# Template only. Copy to .env.master.local and chmod 600.
TG_PROFILE='master'
TG_RUNTIME_CONFIGURED='false'
TG_ENV='production'
TG_CHAIN_ID='4663'
VITE_V1_CHAIN_ID='4663'
V1_EXPECTED_CHAIN_ID='4663'
TG_EXPECTED_EPOCH_SECONDS='604800'
TG_EXPECTED_ALLOCATION_LOCK_SECONDS='86400'
TG_EXPECTED_POSITION_LOCK_SECONDS='86400'
TG_EXPECTED_UNPAUSE_SECONDS='86400'
TG_EXPECTED_RAW_EXIT_SECONDS='not-implemented'
V1_NATIVE_PHANTOM_WEI='1680000000000000000'
V1_NATIVE_GRADUATION_WEI='4200000000000000000'
V1_FINALITY_DELAY_SECONDS='600'
V1_FINALITY_DELAY_BLOCKS='2'
V1_ROOT_PUBLICATION_WINDOW='86400'
V1_ROOT_REVIEW_DELAY='3600'
V1_CLAIM_WINDOW='2592000'
TG_HTTP_ADDR='127.0.0.1:8790'
TG_DATABASE_URL=''
TG_RPC_URL=''
VITE_V1_RPC_URL=''
VITE_V1_READ_API_URL=''
VITE_LAUNCH_METADATA_ORIGIN=''
VITE_IPFS_GATEWAY=''
PINATA_JWT=''
PINATA_GROUP_ID=''
TG_DUNE_API_KEY=''
TG_EXPECTED_ANTI_SNIPE_SECONDS='5'
