# Template only. Copy to .env.test.local and chmod 600.
TG_PROFILE='test'
TG_RUNTIME_CONFIGURED='false'
TG_WEB_PORT='5178'
TG_EXPECTED_EPOCH_SECONDS='604800'
TG_EXPECTED_ALLOCATION_LOCK_SECONDS='86400'
TG_EXPECTED_POSITION_LOCK_SECONDS='86400'
TG_EXPECTED_UNPAUSE_SECONDS='86400'
TG_EXPECTED_RAW_EXIT_SECONDS='604800'
V1_NATIVE_PHANTOM_WEI='168000000000000000'
V1_NATIVE_GRADUATION_WEI='420000000000000000'
V1_EXPECTED_CHAIN_ID='46630'
V1_FINALITY_DELAY_SECONDS='600'
V1_FINALITY_DELAY_BLOCKS='2'
V1_ROOT_PUBLICATION_WINDOW='86400'
V1_ROOT_REVIEW_DELAY='3600'
V1_CLAIM_WINDOW='2592000'
V1_NATIVE_QUOTE_POOL_FEE='10000'
V1_NATIVE_QUOTE_TICK_SPACING='200'
TG_CHAIN_ID='46630'
TG_EVENT_READ_MODE='on-demand'
TG_EVENT_START_POLICY='latest-on-first-request'
VITE_V1_CHAIN_ID='46630'
V1_RELEASE_ID=''
VITE_INTEGRATION_BOOTSTRAP=''
VITE_V1_FACTORY_ADDRESS=''
TG_DEPLOYMENT_MANIFEST=''
TG_DEPLOYMENT_BOOTSTRAP_FILE=''
TG_DATABASE_URL=''
TG_RPC_URL=''
VITE_V1_RPC_URL=''
VITE_V1_READ_API_URL=''
VITE_LAUNCH_METADATA_ORIGIN=''
PINATA_JWT=''
PINATA_GROUP_ID=''
VITE_IPFS_GATEWAY=''
TG_EXPECTED_ANTI_SNIPE_SECONDS='5'
