{
  email ops@tickergarden.com
  servers {
    timeouts {
      read_header 10s
      read_body 30s
      idle 60s
    }
  }
}

(queue) {
  request_body {
    max_size 1MB
  }
  header Cache-Control "no-store"
}

(storage) {
  request_body {
    max_size 4MB
  }
}

queue-test.tickergarden.com {
  import queue
  reverse_proxy queue-test:8080
}
queue.tickergarden.com {
  import queue
  reverse_proxy queue-prod:8080
}
storage-test.tickergarden.com {
  import storage
  reverse_proxy minio-test:9000
}
storage.tickergarden.com {
  import storage
  reverse_proxy minio-prod:9000
}
